<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Stage1/Version1_0/src/F21ASE_Stage1/MainTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="F21ASE_Stage1.MainTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Stage1"/>
</launchConfiguration>
